.footer {
    position: relative;
    z-index: 2;
    font-family: 'VCR-MONO';
    color: #ffff26;
    mix-blend-mode: difference;
    margin-top: -20px;
}

.footer marquee {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.footer marquee h1 {
    font-size: 3em;
    word-spacing: -10px;
}

.footer marquee h1 > span {
    margin-right: 5rem;
}